.todo__item {
  margin: 10px auto;
}

.todo__wrapper {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.todo__checkbox__wrapper {
  flex: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.place__wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.todo__place {
  color: var(--fontColor);
  margin-left: 10px;
}

.todo__checkbox{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checked {
  margin-right: 10px;
}

.todo__checkbox {
  border: 2px solid var(--checkboxColor);
}

.todo__text {
  color: var(--fontColor);
}