.todo__item {
  margin: 10px auto;
}

.todo__wrapper {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.todo__checkbox__wrapper {
  flex: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo__place {
  flex: 1;
  text-align: left;
}

.todo__checkbox,
.checked {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.todo__checkbox {
  border: 2px solid #806538;
}

button {
  margin: 0 20px;
  padding: 3px 10px;
  text-align: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.deactive {
  display: none;
}