.container {
  width: 500px;
  height: fit-content;
  background-color: var(--bgColor);
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 5px;
}

.add__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  align-items: center;
}

.add__wrapper input {
  flex: 2;
  height: 30px;
  outline: none;
  border: 2px solid var(--inputBorderColor);
  border-radius: 5px;
  text-indent: 4px;
  /* border-color: #806538; */
}

.add__wrapper button {
  /* flex: 1; */
  height: 30px;
}

button {
  margin-left: 20px;
  padding: 3px 10px;
  text-align: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins";
  color: var(--fontColor);
  background-color: var(--buttonBgColor);
}

button.deactive {
  display: none;
}